@import "../../fonts.scss";

$blue: #66cccc;
$black: #333;
$yellow: #f2c94c;
$purple: #660099;

.home {
    .main_cont {
        position: relative;
        background: $blue;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        height: 20em;
        @media screen and (max-width: 640px) {
            height: 785px;
        }

        .container {
            height: 100%;
        }

        .cont {
            width: 100%;
        }

        .image {
            // position: absolute;
            // bottom: -4.8em;
            // right: 16em;
            position: relative;
            bottom: 1.53em;
            @media screen and (max-width: 640px) {
                // bottom: -1.2em;
                z-index: 2;
            }
        }

        .offer {
            margin-top: 2.5em;
            height: auto;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 640px) {
                display: flex;
                flex-direction: column;
            }
            .btns {
                display: flex;
                align-items: center;
                @media screen and (max-width: 640px) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}

.offer_title {
    color: #fff;
    font-size: 2em;
    margin-bottom: 1.5em;
    font-weight: 400;
}

.offer_btn {
    background: #fff;
    color: $blue;
    padding: 0.75em 1.6em;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 0.83em;

    svg {
        margin-left: 0.6em;
    }
}

.offer_register_text {
    margin-left: 0.8em;
    font-size: 0.66em;
    color: #fff;
    @media screen and (max-width: 640px) {
        margin-top: 30px;
        margin-left: 0;
    }
}

.how_use {
    background: #fff;
    padding: 2.5em 0;

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .card {
        position: relative;
        display: flex;
        align-items: center;
        width: 40%;
        height: 7.5em;
        background: #f9f9f9;
        border-radius: 21.2517px;
        padding: 1.5em 1.5em 1.5em 7.5em;
        @media screen and (max-width: 640px) {
            width: 457px;
            padding: 26px 31px 26px 150px;
            height: auto;
            &:nth-child(n + 2) {
                margin-top: 60px;
            }
        }
    }

    .bottom_image {
        position: absolute;
        left: 0.4em;
        bottom: -0.7em;
        width: 3.75em;
        height: 3.45em;
    }
    .bottom_image2 {
        position: absolute;
        z-index: 999;
        bottom: -0.5em;
        left: 1em;
        @media screen and (max-width: 640px) {
            width: 70px;
            height: 120px;
            left: 1.5em;
        }
    }
    .bottom_image3 {
        position: absolute;
        z-index: 999;
        left: -1em;
        bottom: -1.5em;
        @media screen and (max-width: 640px) {
          width: 142px;
          height: 85px;
          left: -0.5em;
          bottom: -1em; 
        }
    }
    .arrow2 {
        position: absolute;
        bottom: -8em;
        @media screen and (max-width: 640px) {
          bottom: 0;
          transform: rotate(40deg) scaleX(-1);
          top: 6em;
          left: -6em;
        }
    }
    .arrow1 {
        position: absolute;
        width: 11.5em;
        height: 2em;
        top: -2.8em;
        right: -8em;
        @media screen and (max-width: 640px) {
          top: 8.5em;
          right: -7.2em;
          transform: rotate(90deg);
        }
    }
    @media screen and (min-width: 640px) {
        .card:nth-child(n + 3) {
            margin: 3em auto 0;
            width: 45%;
        }
    }
    @media screen and (min-width: 640px) {
      
    }

    .card_counter {
        left: -0.3em;
        bottom: 0.35em;
        margin-right: 1.5em;
        font-size: 6.8em;
        font-weight: bold;
        position: absolute;
        z-index: 1;
        color: $blue;
        @media screen and (max-width: 640px) {
            font-size: 130px;
            left: -0.2em;
            bottom: 40px;
        }
    }

    .card_cont {
    }

    .card_title {
        font-size: 1.1em;
        margin-bottom: 0.4em;
        color: $black;
    }

    .card_desc {
        color: #bdbdbd;
        font-size: 0.8em;
    }
}

.how_use_title {
    color: $black;
    font-size: 1.875em;
    margin-bottom: 4.58em;
    position: relative;
    z-index: 9999999;
    @media screen and (max-width: 640px) {
        font-size: 40px;
        margin-bottom: 76px;
    }
}

.types {
    padding: 1.875em 0;
    background: $purple;

    .cont {
        display: flex;
        flex-direction: column;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1.2em;
        @media screen and (max-width: 640px) {
          align-items: center;
        }
    }
    img {
        width: 8.9em;
        height: 8.3em;
    }

    .card {
        background: #fff;
        padding: 0.7em 1.06em;
        border-radius: 12px;
        text-align: center;
        @media screen and (max-width: 640px) {
          width: 260px;
          &:nth-child(n+3) {
            margin-top: 41px;
          }
        }

        p {
            color: $black;
            font-size: 1.08em;
            width: 232px;
            font-weight: medium;
        }
    }
}

.creators_title {
    color: #fff;
    font-weight: 400;
    font-size: 1.875em;
    margin-bottom: 1.3em;
}

.tips {
    padding: 2.5em 0;
    .tips_title {
        margin-bottom: 60px;
        img {
            width: 147px;
            height: 52px;
        }
        span {
            text-transform: uppercase;
            margin-left: 15px;
            font-size: 30px;
            color: $blue;
            position: relative;
            bottom: 4px;
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 640px) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
    }

    .card {
        width: 15.625em;
        height: 15.625em;
        background: #f9f9f9;
        border-radius: 0.9em;
        display: flex;
        flex-direction: column;
        padding: 2em 1.375em;
        @media screen and (max-width: 640px) {
          width: 100%;
          height: auto;
          &:nth-child(n+2) {
            margin-top: 30px;
          }
        }
    }

    .card_img {
        margin: 0 auto 1em;
    }

    .card_title {
        color: $blue;
        margin-bottom: 0.5em;
    }

    .card_description {
        color: #bdbdbd;
    }
}

.tarif_plans {
    padding-bottom: 1.8em;
    background: #fff;

    .top {
        display: flex;
        align-items: center;
        margin-bottom: 1.875em;
    }

    .tarif_title {
        color: $black;
        font-size: 1.875em;
    }

    .date_title {
        color: $purple;
        margin-right: 0.8em;
        font-size: 1.1em;
    }

    svg {
        cursor: pointer;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media screen and (max-width: 640px) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
    }
    .card {
        text-align: center;
        @media screen and (max-width: 640px) {
          width: 100%;
          height: auto;
          &:nth-child(n+2) {
            margin-top: 45px;
          }
        }
    }
    .tarif_duraction {
        color: #660099;
        margin-top: 0.5em;
        font-size: 1.25em;
    }
    .card_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.875em 1em;
        background: #ff9933;
        width: 16em;
        text-align: center;
        border-radius: 12px;
        @media screen and (max-width: 640px) {
          width: 100%;
          height: auto;
          padding: 45px 105px;
        }
    }

    .card_title {
        color: #fff;
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 6px;
    }

    .card_desc {
        color: #fff;
        font-weight: 400;
        font-size: 0.7em;
        margin-bottom: 1em;
    }

    .card_btn {
        background: $purple;
        border: none;
        border-radius: 12px;
        color: #fff;
        font-weight: 400;
        width: 100%;
        padding: 0.5em 0;
        margin-bottom: 1em;
    }

    .cost_title {
        color: #fff;
        margin-bottom: 0.5em;
        font-weight: 500;
    }

    .cost_btn {
        border: none;
        color: #660099;
        background: #fff;
        border-radius: 12px;
        font-weight: bold;
        padding: 0.5em 0;
        width: 100%;
    }
}

.not_full {
    background-color: $yellow;
    padding: 1.875em 0 0.5em;
}

.not_full_title {
    font-weight: 500;
    font-size: 1.875em;
    color: #fff;
}

.row {
    display: flex;
    align-items: center;

    .line {
        width: 2em;
        height: 0.5em;
        background: #fff;
        border-radius: 12px;
        margin: 0 2em;
    }

    .arrow {
        margin-top: 70px;
    }
}

.balance {
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em 0.5em;
    width: 9em;

    .balance_title {
        color: #fff;
        text-align: center;
        width: 9em;
        background: $yellow;
        margin-bottom: 0.5em;
    }

    .balance_money {
        font-size: 1.1em;
        color: $yellow;
    }
}

.next_balance {
    text-align: center;

    .count {
        color: #fff;
        font-size: 3.75em;
    }

    .next_text {
        font-size: 0.9em;
        color: #fff;
    }
}

.feed_back {
    background: $purple;
    padding-top: 1.875em;
    padding-bottom: 3.5em;

    .cont {
        display: flex;
        flex-direction: column;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1.9em;
    }

    .card {
        background: #b766d6;
        padding: 1.25em;
        width: 30%;
    }

    .top {
        display: flex;
        align-items: center;
        margin-bottom: 0.6em;
    }

    .card_title {
        color: #fff;
        font-size: 1.25em;
        font-weight: 500;
        margin-right: 0.3em;
    }

    .stars {
        svg:not(:last-child) {
            margin-right: 2px;
        }
    }

    .card_desc {
        font-size: 0.95em;
        color: #fff;
        font-weight: 100;
    }

    .btn {
        background: #c877e7;
        border-radius: 12px;
        font-weight: bold;
        color: #fff;
        border: none;
        margin: 0 auto;
        padding: 0.5em 2.5em;
        cursor: pointer;
    }
}

.feed_back_title {
    font-size: 1.875em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2.91em;
}
