@import "./fonts.scss";

*, a, li, div {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: TTHoves-Regular;
  font-size: 24px;
}

.container {
  width: 1230px;
  margin: 0 auto;
  @media screen and (max-width: 640px)  {
    width: 548px;
  }
}
.admin_title {
  margin-top: 50px;
  color: #333;
  font-size: 35px;
  margin-bottom: 25px;
}